body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, red, blue);
}

#container {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: content-box;
    height: 100vh;
    width: 100%;
}

#wrapper {
    font-size: 100px;
    border: 10px solid white;
    padding: 10px 20px;
}